@media only screen and (max-width: 575px)
{
	body
	{
		width: 100%;

		
	}
	

.banner #banner_0 img
{
	width: 100%;
	height: 200% ;
	
}
.banner #banner_1
{
width: 20%;
margin-top: -150px;
margin-left: 150px;
}
.banner #banner_1 h1
{
	padding-top: -500px;
	padding-bottom: 30px;
	color: #333333;
	font-size: 30px;
	letter-spacing: 5px;
	width: 200px;
	margin-left: -100px;
	font-family: 'Cormorant', serif;
	font-style: italic;

}
.banner #banner_1 h6
{
	
	color: #696969;
	font-size: 15px;
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 2px;
	margin-left: -100px;

}
.banner #banner_1 button
{
	
	font-weight: bold;
	background: #333333;
	color: white;
	width:120px;
	height: 30px;
	font-family: 'Fira Sans', sans-serif;
	letter-spacing: 1px;
	margin-left: -100px;
	margin-top: -200px;
}
.banner #banner_2 img
{
	position: absolute;
	margin-top: -50%;
	margin-left: 20px;
	background: green;
	border-radius:60px;
	width: 100px;
}
.banner #banner_3 
{
	position: absolute;
	margin-left: 40%;
	margin-top: -130px;
	font-family: 'Cormorant', serif;
	font-size: 15px;

}
.banner #banner_3 ul
{
	margin: 0px;
	padding: 0px;
}
.banner #banner_3 ul li 
{
	list-style: none;

}
.banner #banner_3 a
{
	text-decoration: none;
	line-height: 30px;
	color:#ded6c1;
}
.banner #banner_4
{
	
	position: absolute;
	margin-left: 80%;
	margin-top: -180px;
	width: 60px;
	height: 20px;
}
.banner #banner_4  ul 
{
	margin: 0px;
	padding: 0px;
}
.banner #banner_4 ul li 
{
	
	float: left;
	list-style: none;
}

.banner #banner_4 i 
{

	margin: 4px;
	color: white;
}

.hop
{
	overflow: hidden;
	width: 100%;

}
.top
{
	background: #FFFFFF;
	height: 80px;
	min-height: 80px;
	
	margin-top: 30px;
	margin-left: -40px;
}
.top ul 
{
	margin: 0px;
	padding: 0px;
}

.top ul li 
{
	
	text-decoration: none;
	line-height: 40px;
	margin-left: 10px;
	padding: 0px 122px 0px 122px;
	
	color: #333333;
	font-size: 17px;
	list-style: none;
	float: left;
	text-align: center;
}
.top h3
{
	font-family: 'Cormorant', serif;
	color:#333333;
	margin-top: 14px;
	font-weight: bold;
	width: 200px;

	
}
.top p 
{
	font-family: 'Fira Sans', sans-serif;
	color: #696969;
	margin-top: -14px;
	
}
.bellow_1 
{
	
	
}
.bellow_1 #tren h2
{
		width: 300px;
		text-align: center;
		margin-top: 50px;
		margin-left: 10%;
		font-family: 'Cormorant', serif;
		font-size: 30px;
		font-weight: 550;


}
.bellow_1 #giua
{
		
		margin-top: 70px;
}
.bellow_1 #giua_1
{
	
	margin-left: -20px;
	float: left;
	width: 100%;
	
	
}
.bellow_1 #giua_1 p 
{
	text-decoration: none;
	color: #d6ba8d;
	top: 625px;
	left: 100px;
	position: absolute;
	font-size: 20px;
	margin-left: 60px;
	margin-top: 550px;
	font-family: 'Cormorant', serif;
	font-weight: bold;
}
.bellow_1 #giua_1 h5 
{
	text-decoration: none;
	color: #333333;
	margin-top:590px;
	top: 550px;
	left: 65px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600px;
	font-size: 20px;
	position: absolute;
	margin-left: 60px;
}

.bellow_1 #giua_1 img
{
	float: left;
	position: relative;
	
	list-style: none;
	width: 100%;
	height: 500px;

}
.bellow_1 #giua_2
{
	margin-left: -20px;
	float: left;
	width: 100%;
	margin-top: 360%;
	

}

.bellow_1 #giua_2 img
{
	float: left;
	position: relative;
	margin: 20px;
	list-style: none;
	width: 100%;
	height: 500px;
}
 .bellow_1 #giua_2 h5
 {
 	text-decoration: none;
	color: #333333;
	margin-top:240%;
	top: 2450px;
	left: -80px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600px;
	font-size: 20px;
	position: absolute;
	 margin-left: 50%;

 }
 .bellow_1 #giua_2 p
 {
 	text-decoration: none;
	color: #d6ba8d;
	top: 2530px;
	left: 20px;
	position: absolute;
	font-size: 20px;
	margin-left: 40%;
	margin-top: 225%;
	font-family: 'Cormorant', serif;
	font-weight: bold;
 }

 .bellow_1 #giua_2 h2
 {
 	width: 250px;
 	font-size: 40px;
 	color: #333333;
 	top: 2950px;
	left: -180px;
 	position: absolute;
 	color: #333333;
 	font-family: 'Cormorant', serif;
	
 	height: 300px;
 	margin-left: 200px;
 	margin-top: 700px;
 
 }
 .bellow_1 #giua_2 h6
 {
	width: 200px;
 	font-size: 15px;
 	color: #333333;
 	top: 3020px;
	left: -180px;
 	position: absolute;
 	color: #333333;
	font-family: 'Fira Sans', sans-serif;
 	height: 300px; 
 	margin-left: 90%;
 	margin-top: 730px;

 }
 .bellow_2
 {
 	width: 100%;
 	background: green;
 }
 .bellow_2 #giua_3 h3
{
	margin-top: 1490px;
	float: left;
	margin-left: 20px;	
	text-align: center;
	font-family: 'Garamond', serif;
	font-weight: bold;
	font-size: 30px;
}
.bellow_2 #giua_3 p
{
	margin-top: 1500px;
	float: left;
	margin-left: 50px;	
	text-align: center;
	font-family: Myriad Pro;
	color: black;
	font-size: 15px;
	font-weight: bold;

}
.bellow_2 #giua_tren
{
	
	margin-top: 50px;
	margin-left: 40px;
	float: left;
	width: 90%;
}
.bellow_2 #giua_tren img
{
	margin-top: 20px;
	float: left;
	list-style: none;
	height: 330px;
	width: 290px;
	margin: 9px;
	margin-left: 2px;
}

.bellow_3 #tong 
{
	margin-top: 2900px;
	float: left;
	background: #faf9f9;
	width: 105%;
	height: 1700px;
	margin-left: -10px;

}
.bellow_3 #tong img 
{
	width: 115%;
}
.bellow_3 #tong ul 
{
	padding: 0px;
	margin: 0px;
}
.bellow_3 #tong ul li  
{
	list-style: none;
	padding: 0px 30px 0px 30px;
	width: 96%;
	height: 454px;
	background: #ffffff;
	
	float: left;
	margin: 10px;
	margin-left: 10px;
	margin-top: 50px;
}

.bellow_3 #tong p
{
	font-family: Myriad Pro;
	color: #d6ba8d; 
	font-size: 10px;
	width: 100px;
}
.bellow_3 #tong input
{

	text-align: center;
	margin-top: 118px;
	margin-left: 100px;
	background: #eae9e9;
	font-family: 'Cormorant', serif;
	color: black;
	width: 200px;
	height: 22px;
	font-weight: bold;
}
	.bellow_4
{
	float: left;
	text-align: center;
	width: 90%;
	height: 400px;
	margin-left: 30px;
	margin-top: 50px;
	
	
}
.bellow_4 ul 
{
		margin: 0px;
		padding: 0px;

}
.bellow_4 ul li
{
	float: left;
	list-style: none;
}
.bellow_4 ul li img
{

	padding: 0px 27px 0px 10px;
	width: 150px;
	height: 106px;
	background: #ffffff;
	
	
	margin: 2px;

	
}
.bellow_5 
{
	background: #333333;
	height: 500px;
	width: 98%;
	float: left;
}
.bellow_5 #tren
{

	height: 500px;
	width: 90%;	
	

	margin-left: 18px;
}
.bellow_5 #tren ul
{
	padding: 0px;
	margin: 0px;
}

.bellow_5 #tren ul li 
{
	list-style: none;
	float: left;
	padding: 0px 20px 0px 20px;
	margin: 2px;
	margin-top: 40px;
	margin-left: 80px;
}
.bellow_5 #tren ul li p
{
	list-style: none;
	float: left;
	width: 50px;
	margin-top: -40px;
	
	padding: 0px 2px 0px 2px;
	margin: -20px;
	margin-top: 10px;
	margin-left: -10px;
	font-size: 12px;

}
.bellow_5 #tren button
{
	margin-top: 10px;
	color: #ababab;
	font-family: 'Fira Sans', sans-serif;
	
	background: #333333;
	
	text-align: center;
	margin-left: 1px;
	width: 150px;
	height: 40px;
	letter-spacing: 2px;
	font-weight:bold;
}
.bellow_5 #duoi
{
	height: 250px;
	width: 50%;
	border-top:1px solid black;
	margin-left: 100px;
	margin-top: -130px;
	
}
.bellow_5 #duoi p 
{
	width: 200px;
	color: #636363;
	font-size: 10px;
	font-family: 'Fira Sans', sans-serif;
	margin-top: 20px;

}

#duoi_1
{
	float: left;
	margin-top: -190px;
	margin-left: 100px;
	
	width: 70%;


	

}
#duoi_1 ul
{
	padding:0px;
	margin: 0px;
}
#duoi_1 ul li 
{
	float:left;
	list-style: none;

}
#duoi_1 ul li  i
{
	padding: 9px;
	border-radius: 80px;
	background: #333333;
	border: 1px solid white ;
	
}
#duoi_1 ul li :hover
{

	color: #d6ba8d;
}
}
@media only screen and (max-width: 420px)
{
	 .bellow_1 #giua_2 h2
 {
 	width: 250px;
 	font-size: 40px;
 	color: #333333;
 	top: 3100px;
	left: -180px;
 	position: absolute;
 	color: #333333;
 	font-family: 'Cormorant', serif;
	
 	height: 300px;
 	margin-left: 200px;
 	margin-top: 700px;
 
 }
 .bellow_1 #giua_2 h6
 {
	width: 200px;
 	font-size: 15px;
 	color: #333333;
 	top: 3020px;
	left: -180px;
 	position: absolute;
 	color: #333333;
	font-family: 'Fira Sans', sans-serif;
 	height: 300px; 
 	margin-left: 200px;
 	margin-top: 730px;

 }
}



